<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Seat Management</title>
</head>
<body>
<p th:text="${error}" style="color:red"></p>
<p th:text="${success}" style="color:green"></p>
<form th:action="@{/saveDetails/{className} (className = ${className})}" method="post">
    <!--    <tr th:each="data, iterstat: ${mois}">-->
    <table>
        <thead>
        <tr>
            <th th:text="'Column '+ ${i}" th:each="i : ${#numbers.sequence(1, 10)}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="data, ind: ${mois}">
            <td th:each="content, iter: ${data}">
                <input size="4"  name="prop" th:if="${content} == 0" type="text" th:id="|td${iter.index}|" />
                <input size="4" name="prop" th:if="${content} != 0" th:value="${content}" type="text" th:id="|td${iter.index}|" />

<!--                <button th:text="${content}" th:if="${content} != 0" th:id="|td${iter.index}|" />-->
                <label th:text="'Seat: '+${ind.index*10 + iter.index+1}"></label>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit"> Submit</button>
</form>

<table border="1" align="center">
    <div align="center">
        <thead>
        <tr>
            <th>Roll No</th>
            <th>Student Name</th>
            <th>Discipline Id</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="studentDetails : ${listStudentDetails}">
            <td th:text="${studentDetails.rollNo}"></td>
            <td th:text="${studentDetails.name}"></td>
            <td th:text="${studentDetails.disciplineId}"></td>

<!--            <td>-->
<!--                <a class="btn btn-primary" th:href="@{/share/{emp_id}/{mng_id}(emp_id=${emp_id},mng_id=${manager.id})}">Select</a>-->
<!--                &lt;!&ndash;        <a class="btn btn-secondary" th:if="${profile.manager} != null">Block</a>&ndash;&gt;-->
<!--            </td>-->
            <!--      <td><a th:href="">Delete</a></td>-->
        </tr>
        </tbody>
    </div>
</table>

</body>
</html>
