<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seat Management</title>
</head>

<body>
<h1 align="center">Report</h1>
<table border="1" align="center">
    <div align="center">
        <thead>
        <tr>
            <th>Roll No</th>
            <th>Student Name</th>
            <th>Discipline Id</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="studentDetails : ${listStudentDetails}">
            <td th:text="${studentDetails.rollNo}"></td>
            <td th:text="${studentDetails.name}"></td>
            <td th:text="${studentDetails.disciplineId}"></td>
        </tr>
        </tbody>
    </div>
</table>
</body>
</html>
